{
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["function", "if", "else", "each", "include", "mixin", "extend"]
    }],
    "unit-no-unknown": [true, { "ignoreUnits": ["/lh/", "string"] }],
    "order/properties-order": []
  }
}
